body{
  background-color: rgb(255, 220, 174)
}

#main{
  margin: 20px;
}

h1{
  color: rgb(0, 2, 119);
  font-size: 42px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.top{
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
  max-width: 900px;
  height:82vh;
  margin-top: 75px;
  overflow-y:scroll;
}
